.carousel-item-container {
  flex: 1 1 20%;

  .carousel-item__companies {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .carousel-item__separator {
    border-right: 1px solid var(--border);
    height: 60px;
    width: 50%;

    &.active {
      border-right: 1px solid var(--primaryblue);
    }
  }
}

@media (max-width: 1023px) {
  .carousel-item-container {
    flex: 1 1 30%;
  }
}
