.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;

  .carousel__slider,
  .carousel__controllers {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 1280px;
  }

  .carousel__slider {
    gap: 24px;
    height: 100%;
  }
}
