.box-container {
  border: 1px solid var(--border);
  border-radius: 8px;
  height: 120px;
  display: flex;
  padding: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--grey);

  strong {
    font-weight: 500;
  }

  span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }

  &.active {
    border: 1px solid var(--primaryblue);
    &.description {
      background-color: var(--primarylight);
    }
  }
}

.empty-box {
  visibility: hidden;
}
